body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f9fa;
}

header {
    background-color: #f14217;
    color: white;
    padding: 1rem;
    text-align: center;
}

section {
    padding: 1rem 2rem;
    border-bottom: 1px solid #ddd;
}

h2 {
    color: #200fb8;
}

ul {
    list-style-type: disc;
    padding-left: 20px;
}
